<!DOCTYPE html>
<html>
  <head>
    <title>NodeJS Course 2024</title>
    <link
      rel="shortcut icon"
      href="https://i.ibb.co/PTYrggs/favicon-32x32.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <main class="page">
        <section class="home">
          <h1 class="home__title">Homework №4</h1>
          <div class="home__task">
            <p>
              Задача. За прикладом, який ми розглянули на уроці розробити
              додаток з такими операціями стосовно контексту, який ви виберете:
            </p>
            <ul>
              <li>відображення списку елементів</li>
              <li>відображення детальної інформації про елемент маючи id</li>
              <li>додавання нового елемента</li>
              <li>редагування елемента</li>
              <li>видалення елемента</li>
            </ul>
            <a href="/contacts" class="home__link"
              >Переглянути телефонну книгу
            </a>
          </div>
        </section>
      </main>
      <footer class="footer">Created with love by Ruslan Musienko</footer>
    </div>
  </body>
</html>
